PORT=3001
DATABASE_URL="postgresql://postgres.<PROJECT_REF>:<DB_PASSWORD>@<HOST>:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<PROJECT_REF>:<DB_PASSWORD>@<HOST>:5432/postgres"
SUPER_ADMIN_PASSWORD="TuContraseñadeSuperAdmin"
DEFAULT_TEACHER_PASSWORD="TuContraseñadeDocentePorDefecto"
